{% extends 'base.html' %}
{% block content %}



<div class="container">
<p id = "hid" class = "lead"> Welcome to use the <span class = "header">weatherApp</span></p>
<h3 id = "subtitle">Please choose your location.</h3>
<br />
<br />
  <div class="row">
      {% for city in citys %}
      <div class="col">
        <div class = "city">
          <p class = "lead text-center">{{ city.name }}</p>
          <a href="{{ city.pk }}">
            <img src="{{ city.img }}" class="thumbnail"/>
          </a>
          <br />
          <br />
          <p class = "lead text-center">{{ city.cWeather.temperature }} °C </p>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
