.circle {
  border-radius: 90%;
  border: 2px solid #008080;
  box-shadow: 10px 10px 5px grey;
}

#detail {
  padding: 2%;
}

h3 h2 p p.lead h1 {
  color: #413C58;
}


.cities {
  margin: auto;
  padding: 5vh;
}

.city {
  margin: 0 auto;
  width: 100px;
}

.header {
  color: #F2DDA4;
  font-size: 80px;
}

body {
}

img#weather {
  margin: 1vw;
}



#subtitle {
  position: relative;
  margin-left: 5vw;
}

.local {
  background-color: #e6ffff;
  padding: 10vh;
}

.cont {
  display: flex;
  padding: 2vh;
  width: 100%;
  margin: 0 auto;
}

#temperature {
  margin: auto;
}


.date {
  margin-left: 6vw;
}

.vl {
    border-left: 3px solid green;
}


.latest {
  padding-top: 5vh;
}

#citiesDetail {
  position: relative;
  z-index: 10;
  background-color: #b3ffff;
  -webkit-box-shadow: 0px 0px 61px 6px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 61px 6px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 61px 6px rgba(0,0,0,0.36);
}

.info {
  padding: 5vh;;
}

.add {
  padding: 5%;
  margin: 0 auto;
  width: 100%;
  background-color: #e6ffff;

}

.form {
  text-align: center;
}

.citings {
  padding: 5vh;
  background-color: #e6ffff;
}

#hid {
  padding: 5vh;
}
